<li class="burgerName">
	
	{{burger}}
	{{#if eaten}}
	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		Hungry!
	</button>
	{{else}}	<button class="delete-burger" data-id="{{this.id}}">Throw up burger!</button>

	{{/if}}
</li>